.horizontal_rule {
    border: none; /* 기본 경계 제거 */
    height: 2px; /* 선의 두께 */
    background-color: #D9D9D9; /* 원하는 색상 */
    width: 100%;
}

.table_data {
    width: 403px;
    padding: 0px 0px 0px 10px;
}