/* index.css 또는 App.css에 추가 */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;  
    background-color: #fafafa;
    font-family: 'CustomFont', sans-serif;
  }

  @font-face { 
    font-family: 'CustomFont'; 
    src: url('../public/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
  }